<div class="container-fluid mt-5 d-flex justify-content-center">
    <div class="col-sm-12 col-lg-8">
        <div>
            <div>
                <h5>Kirim</h5>
                <form class="form-group d-lg-flex d-sm-block">
                    <input type="text" class="form-control kirim-input mr-2 col-lg-8 col-sm-12" name="textKirim" placeholder="Matn"
                        [(ngModel)]="textInput" />
                    <div class="d-sm-flex align-items-center mt-lg-0 mt-sm-2">
                        <input type="number" class="form-control kirim-input mr-2 w-lg-50 w-sm-10" name="sumInput" placeholder="Summa" min="1"
                        [(ngModel)]="sumInput" />
                        <button class="btn btn-primary d-inline-block text-nowrap" type="button"
                        (click)="addKirim()">Kirim
                        Qo'shish</button>
                    </div>
                </form>
            </div>

            <div>
                <ul class="list-group mb-3">
                    <li class="list-group-item" *ngFor="let kirimItem of kirimArray">
                        <div class="d-flex w-100 align-items-center mb-2">
                            <p class="mr-auto mb-0">{{ kirimItem.name || kirimItem.id + "-kirim" }}</p>
                            <span class="text-success h6 m-0 mr-2">{{ kirimItem.sum || 0}}-so'm</span>
                            <span class="close-btn m-0 h6 ml-2" (click)="deleteKirimItem(kirimItem.id)">&#10060;</span>
                        </div>
                        <hr>
                        <p class="m-0 text-right d-flex align-items-center justify-content-between">
                            Qo'shilgan vaqti
                            <span>{{ kirimItem.date }}</span>
                        </p>
                    </li>
                </ul>
                <span class="text-success d-flex justify-content-end">Jami kirim: {{ sumKirim }}-so'm</span>
                <span [class]="qolganSumma < 0 ? 'text-danger' : 'text-success' " class="d-flex justify-content-end">Qolgan mablag': {{ qolganSumma }}-so'm</span>
                <button class="btn btn-danger d-flex ml-auto mt-3" (click)="clearKirim()">Tozalash</button>
            </div>
        </div>
    </div>
</div>