<nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
  <div class="container-fluid justify-content-center">
    <ul class="justify-content-center navbar-list m-0 p-0">
      <li class="nav-item py-2 mr-5" routerLinkActive="active current bg-primary"
        [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link text-dark" aria-current="page" routerLink="">Kirimlar</a>
      </li>
      <li class="nav-item py-2" routerLinkActive="active current bg-primary">
        <a class="nav-link text-dark" routerLink="/chiqimlar">Chiqimlar</a>
      </li>
    </ul>
  </div>
</nav>