.navbar-list {
    display: flex;
    width: 100%;
    list-style-type: none;
    align-items: center;
}
@media only screen and (max-width: 800px) {
    .navbar {
        padding: 0!important;
    }
    .nav-item {
        width: 50%;
    }
    .nav-item:nth-child(1) {
        margin-right: 0!important;
    }
}